:root {
  --body-background-color: #000000;
  --body-text-color: #ffffff;
  --card-background-color: #191919;
  --nav-background-color: #131313;
  --nav-border-bottom-color: #000000;
  --nav-current-border-bottom-color: #1abc9c;
  --card-border-color: #000000;
  --down-border-left-color: #f11f44;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #ffc36d;
  --up-border-left-color: #00de70;
  --tag-color: #ffffff;
  --tag-up-background-color: #23ab4c;
  --tag-down-background-color: #ff0000;
  --tag-degraded-background-color: #ffc36d;
  --change-background-color: #ffc36d;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #dce2ec;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #dce2ec;
  --graph-opacity: 1;
  --graph-filter: hue-rotate(350deg) saturate(200%) brightness(80%);
}

article.down {
  border-left: 0.4rem solid;
}
article.degraded {
  border-left: 0.4rem solid;
}
article.up {
  border-left: 0.4rem solid;
}
.chartjs-render-monitor {
    filter: hue-rotate(34deg) saturate(164%) brightness(89%);
}
